<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.ququplay.websocket.WebSocket"
      version="0.1.0">

    <name>WebSocket</name>
    
    <keywords>phonegap,websocket,android</keywords>
    
    <description>
      Phonegap plugin which adds support for websockets under Android. 
    </description>
    
    <license>MIT</license>

    <author>Michal Kuklis</author>


    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <!-- android -->
    <platform name="android">
       <js-module src="www/phonegap-websocket.js" name="websocket">
          <clobbers target="WebSocket" />
       </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WebSocket">
                <param name="android-package" value="com.ququplay.websocket.WebSocket" />
            </feature>
        </config-file>

        <source-file src="libs/java_websocket.jar" target-dir="libs" />
        <source-file src="src/com/ququplay/websocket/CordovaClient.java" target-dir="src/com/ququplay/websocket" />
        <source-file src="src/com/ququplay/websocket/WebSocket.java" target-dir="src/com/ququplay/websocket" />
        <source-file src="src/com/ququplay/websocket/Utils.java" target-dir="src/com/ququplay/websocket" />
    </platform>
</plugin>
