<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="org.apache.cordova.plugin.websocket.WebSocket"
      version="0.1.0">

    <engines>
        <engine name="cordova" version="3.0.0" />
        <engine name="cordova" version="2.2.0" />
    </engines>
    <name>websocket</name>

    <js-module src="www/phoengap-websocket.js" name="websocket">
        <clobbers target="WebSocket" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <lib-file src="lib/java_websocket.jar" arch="device" />
        <lib-file src="lib/java_websocket.jar" arch="simulator" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WebSocket">
                <plugin name="android-package" value="org.apache.cordova.plugin.websocket" />
            </feature>
        </config-file>

        <source-file src="src/android/CordovaClient.java" target-dir="src/org/apache/cordova/plugin/websocket" />
        <source-file src="src/android/WebSocket.java" target-dir="src/org/apache/cordova/plugin/websocket" />
    </platform>
</plugin>
