<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.phonegap.plugins.websocket.WebSocket"
      version="0.1.0">

    <name>websocket</name>

    <js-module src="www/phoengap-websocket.js" name="websocket">
        <clobbers target="WebSocket" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <lib-file src="lib/java_websocket.jar" arch="device" />
        <lib-file src="lib/java_websocket.jar" arch="simulator" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WebSocket">
                <plugin name="WebSocket" value="com.phonegap.plugins.websocket.WebSocket" />
            </feature>
        </config-file>

        <source-file src="src/android/CordovaClient.java" target-dir="src/com/phonegap/plugins/websocket" />
        <source-file src="src/android/WebSocket.java" target-dir="src/com/phonegap/plugins/websocket" />
    </platform>
</plugin>
